<form>
    <div class="form-input">
        <span> <i class="bi bi-person"></i></span>
        <input type="text" name="user" id="user" placeholder="User">
    </div>
    <div class="form-input">
        <span><i class="bi bi-key"></i></span>
        <input type="text" name="password" id="password" placeholder="Password">
    </div>
    <div class="text-left mb-3">
        <button type="submit" class="btn btn-danger" >Acceder</button>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col-9 d-flex justify-content-center">
            <a href="" class="forget-link link-dark">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
    <a routerLink="/avisos-form" routerLinkActive="active">TEST</a>

</form>